@model WebApplication2.Models.User
@{
    ViewBag.Title = "ModPassword";
}

<h2>修改密碼</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.Label("舊密碼: ");
        <input type="text" name="FormOldPassword" /><br />
        @Html.Label("新密碼: ");
        <input type="text" name="FormNewPassword" /><br />
        @Html.Label("確認密碼: ");
        <input type="text" name="FormCheckPassword" />
    </div>
    @*<div>
        使用者輸入的帳號為:@ViewBag.account<br />
        使用者輸入的密碼為:@ViewBag.password<br />
        訊息:@ViewBag.message<br />
        儲存的密碼:@ViewBag.savedHPW<br />
        Hash後的輸入密碼:@ViewBag.inputHPW
    </div>*@
    <input type="submit" value="確定" />
    @*<p>
        @Html.ActionLink("Edit", "Edit", new { Account = Model.Account })
        @Html.ActionLink("回首頁", "Index", "Home")
    </p>*@
}